.cointable_element_item {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
}

.cointable_element_button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 30px;
  height: 35px;
  align-self: center;
  border-radius: 100%;
  background-color: rgb(72, 201, 72);
  color: white;
}

.cointable_element_button:hover {
  background-color: rgb(126, 209, 234);
  border: none;
}

.cointable_element_item_link {
  color: black;
}

.cointable_element_item_link:hover{
  color:black;
}

.cointable_element_item-red{
  color: red;
}

.cointable_element_item-green{
  color:rgb(16, 211, 16);
}